<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ray Reader</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <header>
        <h1>🦉 Ray Fun Reader</h1>
      </header>

      {% for group, feeds in data %}
      <section class="feed-group">
        <h2>{{ group }}</h2>
        {% for feed in feeds %}
        <details>
          <summary>
            <span>
              <span class="feed-title">{{ feed.title }}</span>
              <span class="feed-url">{{ feed.feed }}</span>
            </span>
          </summary>
          <ul>
            {% for item in feed.items %}
            <li>
              <span class="date">{{ item.timestamp | formatDate }}</span>
              <a
                href="{{ item.link }}"
                target="_blank"
                rel="noopener norefferer nofollow"
                >{{ item.title }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </details>
        {% endfor %} 
      </section>
      {% endfor %} 
      
      {% if errors | length > 0 %}
      <section class="error-section">
        <h2>System Errors</h2>
        <p>There were errors trying to parse these feeds:</p>
        <ul>
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}

      <footer>
        <p>Last updated: {{ now }}</p>
        <p>
          Powered by
          <a href="https://github.com/georgemandis/bubo-rss">Bubo Reader (v{{ info.version }})</a>
          — A project by <a href="https://george.mand.is">George Mandis</a>.
          <br>
          <a href="{{ info.funding.url }}">Sponsor on GitHub</a>
        </p>
      </footer>
    </main>
  </body>
</html>
